@model QLDD_MVC.Models.LopHC

@{
    ViewBag.Title = "Thêm lớp hành chính mới";
    Layout = "~/Areas/CBDT/Views/Shared/_Layout.cshtml";
}
@{
    var ListKhoa = ViewBag.ListKhoa as IEnumerable<string>;
    var giangvien = ViewBag.GV as List<QLDD_MVC.Models.giangvien>;
}

<div class="card shadow mb-4 mx-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Thêm lớp hành chính mới</h4>
    </div>
    <div class="card-body ">
        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.tenlophc, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tenlophc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tenlophc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <lable class="control-label col-md-2">Giảng viên</lable>
                    <div class="col-md-10">
                        <select class="form-control selectpicker" data-live-search="true" data-dropup-auto="false" name="magv" id="selectpick">
                            <option value="0"></option>
                            @foreach (var item in giangvien)
                            {
                                <option value="@item.magv">@item.hoten - Mã giảng viên : @item.magv</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.khoa, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select class="selectpicker form-control" data-live-search="true" data-dropup-auto="false" name="khoa" id="selectpick">
                            <option value=''></option>
                            <option value="Công nghệ thông tin">Công nghệ thông tin</option>
                            <option value="Du lịch">Du lịch</option>
                            <option value="Ngoại ngữ">Ngoại ngữ</option>
                        </select>
                    </div>
                </div>

                <div class="form-group mx-2">
                    <div class="col-md-offset-2 ">
                        <input type="submit" value="Thêm" class="btn btn-primary" />
                        <a class="btn btn-danger" href="##" onClick="history.go(-1); return false;">Hủy</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $('#selectpick').selectpicker({
            dropupAuto: false
        });
    </script>
}