
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CBDT/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/style.css" rel="stylesheet" />


<div class="team-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Quản lý hệ thống điểm danh dành cho các cán bộ đào tạo</h2>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <img class="rounded-circle" src="~/Content/img/teacher.png">
                    <h3 class="name">Giảng viên</h3>
                    @*<p class="title">@ViewBag.slgiangvien giảng viên</p>*@
                    <p class="description">Hiện tại có @ViewBag.slgiangvien giảng viên trong hệ thống.<br>Bấm vào nút bên dưới để quản lý giảng viên.</p>
                    <a href="~/CBDT/giangviens" type="button" class="btn btn-primary">Quản lý giảng viên</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <img class="rounded-circle" src="~/Content/img/student.png">
                    <h3 class="name">Sinh viên</h3>
                    <p class="description">Hiện tại có @ViewBag.slsinhvien sinh viên trong hệ thống.<br>Bấm vào nút bên dưới để quản lý sinh viên.</p>
                    <a href="~/CBDT/Sinhviens/DsAllSinhVien" type="button" class="btn btn-primary">Quản lý sinh viên</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <div class="box">
                    <img class="rounded-circle" src="~/Content/img/subject.png">
                    <h3 class="name">Học phần</h3>
                    <p class="description">Hiện tại có @ViewBag.slhocphan học phần trong hệ thống.<br>Bấm vào nút bên dưới để quản lý học phần.</p>
                    <a href="~/CBDT/Hocphans" type="button" class="btn btn-primary">Quản lý học phần</a>
                </div>
            </div>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-6 item">
                <div class="box">
                    <img class="rounded" src="~/Content/img/class2.png">
                    <h3 class="name">Lớp hành chính</h3>
                    <p class="description">Hiện tại có @ViewBag.sllophc lớp hành chính trong hệ thống.<br>Bấm vào nút bên dưới để quản lý các lớp hành chính.</p>
                    <a href="~/CBDT/LopHCs" type="button" class="btn btn-primary">Quản lý lớp hành chính</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 item">
                <div class="box">
                    <img class="rounded-circle" src="~/Content/img/class.png">
                    <h3 class="name">Lớp tín chỉ</h3>
                    <p class="description">Hiện tại có @ViewBag.slloptc lớp tín chỉ trong hệ thống.<br>Bấm vào nút bên dưới để quản lý lớp tín chỉ.</p>
                    <a href="~/CBDT/LopTCs" type="button" class="btn btn-primary">Quản lý lớp tín chỉ</a>
                </div>
            </div>
        </div>
        <hr />

        <div class="intro">
            <h2 class="text-center">Quản lý lớp học của bạn</h2>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-6 item">
                <div class="box">
                    <img class="rounded" src="~/Content/img/class2.png">
                    <h3 class="name">Lớp hành chính của bạn</h3>
                    <p class="description">Hiện tại bạn có @ViewBag.sllophcofgv lớp hành chính.<br>Bấm vào nút bên dưới để quản lý các lớp hành chính của bạn.</p>
                    <a href="~/CBDT/LopHCs/ListLopHCofGV" type="button" class="btn btn-primary">Quản lý lớp hành chính của bạn</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 item">
                <div class="box">
                    <img class="rounded-circle" src="~/Content/img/class.png">
                    <h3 class="name">Lớp tín chỉ của bạn</h3>
                    <p class="description">Hiện tại bạn có @ViewBag.slloptcofgv lớp tín chỉ trong hệ thống.<br>Bấm vào nút bên dưới để quản lý lớp tín chỉ của bạn.</p>
                    <a href="~/CBDT/LopTCs/ListLopTCofGV" type="button" class="btn btn-primary">Quản lý lớp tín chỉ của bạn</a>
                </div>
            </div>
        </div>
    </div>
</div>
