@model QLDD_MVC.Models.LopTC_SV


@{
    ViewBag.Title = "Thêm sinh viên vào lớp tín chỉ";
    Layout = "~/Areas/CBDT/Views/Shared/_Layout.cshtml";
}

@{var sinhvien = ViewBag.SV as List<QLDD_MVC.Models.Sinhvien>;}

<div class="card shadow mb-4 mx-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Thêm sinh viên vào lớp tín chỉ : @ViewBag.tentc</h4>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.maloptc, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input value=@ViewBag.maloptc name="maloptc" class=" form-control" readonly />
                        @Html.ValidationMessageFor(model => model.maloptc, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.masv, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.masv, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.masv, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="form-group">
                    <lable class="control-label col-md-2">Sinh viên</lable>
                    <div class="col-md-10">
                        <select class="form-control selectpicker" data-live-search="true" data-dropup-auto="false" name="masv" id="selectpick">
                            <option value="0"></option>
                            @foreach (var item in sinhvien)
                            {
                                <option value="@item.masv">@item.hoten - Mã sinh viên : @item.masv</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group mx-2">
                    <div class="col-md-offset-2 ">
                        <input type="submit" value="Thêm" class="btn btn-primary" />
                        <a class="btn btn-danger" href="##" onClick="history.go(-1); return false;">Hủy</a>

                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $('#selectpick').selectpicker({
            dropupAuto: false
        });
    </script>
}