@model QLDD_MVC.Models.Sinhvien
@using QLDD_MVC.Models;
@{DataContextDB db = new DataContextDB(); }
@{
    ViewBag.Title = "Thêm sinh viên vào lớp hành chính";
    Layout = "~/Areas/CBDT/Views/Shared/_Layout.cshtml";
}

@{var lopHC = ViewBag.lopHC as List<QLDD_MVC.Models.LopHC>;}



<div class="card shadow mb-4 mx-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Thêm sinh viên vào lớp hành chính : @ViewBag.tenlophc</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.masv, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.masv, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.masv, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.hoten, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.hoten, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.hoten, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.gioitinh, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="radio1" name="gioitinh" value="Nam" checked>Nam
                            <label class="form-check-label" for="radio1"></label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="radio2" name="gioitinh" value="Nữ">Nữ
                            <label class="form-check-label" for="radio2"></label>
                        </div>
                        @Html.ValidationMessageFor(model => model.gioitinh, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.malophc, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @if (@ViewBag.malophc == null)
                            {
                                <input value=@ViewBag.malophc name="malophc" class="form-control" />
                            }
                            else
                            {
                                <input value=@ViewBag.malophc name="malophc" class="form-control" readonly />
                            }
                            @Html.ValidationMessageFor(model => model.malophc, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                <div class="form-group">
                    <lable class="control-label col-md-2">Lớp hành chính</lable>
                    <div class="col-md-10">
                        <select class="form-control selectpicker" data-live-search="true" data-dropup-auto="false" name="malophc" id="selectpick">
                            <option value="0"></option>
                            @foreach (var item in lopHC)
                            {
                                if (ViewBag.malophc == item.malophc)
                                {
                                    <option selected value="@item.malophc">@item.tenlophc - Mã lớp : @item.malophc</option>
                                }
                                else
                                {
                                    <option value="@item.malophc">@item.tenlophc - Mã lớp : @item.malophc</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.khoa, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if (ViewBag.malophc == null)
                        {
                            <select class="form-control" name="khoa">
                                <option value=''></option>
                                <option value="Công nghệ thông tin">Công nghệ thông tin</option>
                                <option value="Du lịch">Du lịch</option>
                                <option value="Ngoại ngữ">Ngoại ngữ</option>
                            </select>
                        }
                        else
                        {
                            <select class="form-control" name="khoa">
                                @if (db.LopHCs.Find(ViewBag.malophc).khoa == "Công nghệ thông tin")
                                {
                                    <option selected value="Công nghệ thông tin">Công nghệ thông tin</option>
                                }
                                else
                                {
                                    <option value="Công nghệ thông tin">Công nghệ thông tin</option>
                                }

                                @if (db.LopHCs.Find(ViewBag.malophc).khoa == "Du lịch")
                                {
                                    <option selected value="Du lịch">Du lịch</option>
                                }
                                else
                                {
                                    <option value="Du lịch">Du lịch</option>
                                }

                                @if (db.LopHCs.Find(ViewBag.malophc).khoa == "Ngoại ngữ")
                                {
                                    <option selected value="Ngoại ngữ">Ngoại ngữ</option>
                                }
                                else
                                {
                                    <option value="Ngoại ngữ">Ngoại ngữ</option>
                                }
                            </select>
                        }
                    </div>
                </div>

                <div class="form-group mx-2">
                    <div class="col-md-offset-2 ">
                        <input type="submit" value="Thêm" class="btn btn-primary" />
                        <a class="btn btn-danger" href="##" onClick="history.go(-1); return false;">Hủy</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $('#selectpick').selectpicker({
            dropupAuto: false
        });
    </script>
}