@model IEnumerable<QLDD_MVC.Models.Sinhvien>

@using QLDD_MVC.Models;
@{DataContextDB db = new DataContextDB(); }


@{
    ViewBag.Title = "DsAllSinhVien";
    Layout = "~/Areas/CBDT/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-10">
                    <h4 class="font-weight-bold text-primary">Danh sách các sinh viên trong hệ thống</h4>
                </div>
                <div class="col-2">
                    @Html.ActionLink("Thêm sinh viên", "Create", new { id = @ViewBag.malophc, tenlophc = @ViewBag.tenlophc }, new { @class = "btn btn-success float-right" })
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive mt-3">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <th>
                        Mã sinh viên
                    </th>
                    <th>
                        Họ tên
                    </th>
                    <th>
                        Giới tính
                    </th>
                    <th>
                        Tên lớp hành chính
                    </th>
                    <th>
                        Khoa
                    </th>
                    <th>
                        Thao tác
                    </th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.masv">
                                <td>@item.masv</td>
                                <td>@item.hoten</td>
                                <td>@item.gioitinh</td>
                                <td>
                                    @if (db.LopHCs.Find(item.malophc) != null)
                                    {
                                        @db.LopHCs.Find(item.malophc).tenlophc
                                    }
                            </td>
                            <td>@item.khoa</td>
                            <td>
                                @Html.ActionLink("Xem thông tin điểm danh", "Index_LopHC", "diemdanhs", new { masv = item.masv,root = "DsAllSV" }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.masv }, new { @class = "btn btn-warning" })
                                @Html.ActionLink("Xóa", "Delete", new { id = item.masv }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


