@model IEnumerable<QLDD_MVC.Models.Sinhvien>
@using QLDD_MVC.Models;
@{DataContextDB db = new DataContextDB(); }
@{string maloptc = @ViewBag.maloptc; }
@{List<int> dsmadd = db.diemdanhs.Where(x => x.maloptc == maloptc).Select(x => x.madd).ToList();}
@{ int sobuoidadd = db.diemdanhs.Where(x => x.maloptc == maloptc).Select(x => x.madd).Count();}


@{
    ViewBag.Title = "Danh sách sinh viên trong lớp tín chỉ : " + ViewBag.tenltc;
    Layout = "~/Areas/CBDT/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h4 class="m-0 font-weight-bold text-primary">Danh sách sinh viên trong lớp tín chỉ : @ViewBag.tenltc</h4>
                </div>
                <div class="col-6">
                    @Html.ActionLink("Quay lại", "ListLopTCofGV", "LopTCs", new { maloptc = ViewBag.maloptc }, new { @class = "btn btn-danger float-right" })

                    <div class="dropdown show px-1 float-right">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Thông tin điểm danh theo ngày
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            @{
                                if (dsmadd.Count() == 0)
                                {
                                    <h6 class="px-2">Lớp chưa có hoạt động điểm danh</h6>
                                }
                                else
                                {
                                    foreach (int madd in dsmadd)
                                    {
                                        @Html.ActionLink(@db.diemdanhs.Find(madd).ngaydd.ToString("yyyy-MM-dd"), "GetdiemdanhByDate", "diemdanhs", new { maloptc = maloptc, date = @db.diemdanhs.Find(madd).ngaydd,root = "DsLopTCofGV" }, new { @class = "btn btn-outline-secondary mt-1 ml-1" })
                                    }
                                }
                            }
                        </div>
                    </div>
                    @Html.ActionLink("Tạo điểm danh", "TaoHdDD", "diemdanhs", new { maloptc = maloptc }, new { @class = "btn btn-success float-right ml-1" })

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class=""><h5>Giáo viên lớp tín chỉ : @ViewBag.tengv</h5></div>
            <div class=""><h5>Tổng số buổi đã điểm danh : @sobuoidadd</h5></div>
            <div class="table-responsive mt-3">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <th>
                        Mã sinh viên
                    </th>
                    <th>
                        Họ tên
                    </th>
                    <th>
                        Giới tính
                    </th>
                    <th>
                        Tên lớp hành chính
                    </th>
                    <th>
                        Số buổi có mặt
                    </th>
                    <th>
                        Số buổi vắng
                    </th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            int sobuoidd = 0;
                            int sobuoivang = 0;
                            foreach (int madd in dsmadd)
                            {
                                if (db.chitietdds.Where(x => x.madd == madd && x.masv.Equals(item.masv)).FirstOrDefault() != null)
                                {
                                    if (db.chitietdds.Where(x => x.madd == madd && x.masv.Equals(item.masv)).FirstOrDefault().trangthai == true)
                                    {
                                        sobuoidd++;
                                    }
                                    else
                                    {
                                        sobuoivang++;
                                    }
                                }
                            }

                            <tr id="row_@item.masv">
                                <td>@item.masv</td>
                                <td>@item.hoten</td>
                                <td>@item.gioitinh</td>
                                <td>
                                    @if (db.LopHCs.Find(item.malophc) != null)
                                    {
                                        @db.LopHCs.Find(item.malophc).tenlophc;
                                    }
                                </td>
                                <td>@sobuoidd</td>
                                <td>@sobuoivang</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dataTable').DataTable({
                language: {
                    searchPlaceholder: "Tìm kiếm",
                    search: "",
                    "sInfo": "Hiển thị _START_ đến _END_ của _TOTAL_ mục",
                    "sInfoEmpty": "Hiển thị 0 đến 0 của 0 mục",
                    "sInfoFiltered": "Lọc từ _MAX_ mục",
                    "sLengthMenu": "Hiện _MENU_ mục",
                    "sEmptyTable": "Không có dữ liệu",

                },
                stateSave: true,
                dom: '<"clear"><"row"<"col"l><"col"f>>rt<"row"<"col"i><"col"p>><"row"<"col"B>>',
                buttons: [
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':not(:last-child)',
                        }, title: ''
                    }, {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':not(:last-child)',
                        }, title: ''
                    }
                ]
            });
        });

        $(document).ready(function () {
            $('.dataTables_filter input[type="search"]').css(
                { 'width': '350px', 'display': 'inline-block', 'height': '40px' }
            );
        });
    </script>
}