@model QLDD_MVC.Models.Sinhvien
@using QLDD_MVC.Models;
@{DataContextDB db = new DataContextDB(); }

@{
    ViewBag.Title = "Chỉnh sửa thông tin sinh viên";
    Layout = "~/Areas/CBDT/Views/Shared/_Layout.cshtml";
}
@{var lopHC = ViewBag.lopHC as List<QLDD_MVC.Models.LopHC>;}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Chỉnh sửa thông tin sinh viên @ViewBag.hoten</h4>
            </div>
            <div class="card-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.masv)

                    <div class="form-group">
                        @Html.LabelFor(model => model.hoten, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.hoten, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.hoten, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.gioitinh, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @if (Model.gioitinh == "Nam")
                            {
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio1" name="gioitinh" value="Nam" checked>Nam
                                    <label class="form-check-label" for="radio1"></label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio2" name="gioitinh" value="Nữ">Nữ
                                    <label class="form-check-label" for="radio2"></label>
                                </div>
                            }
                            else
                            {
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio1" name="gioitinh" value="Nam">Nam
                                    <label class="form-check-label" for="radio1"></label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio2" name="gioitinh" value="Nữ" checked>Nữ
                                    <label class="form-check-label" for="radio2"></label>
                                </div>
                            }
                            @Html.ValidationMessageFor(model => model.gioitinh, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.malophc, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.malophc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.malophc, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        <lable class="control-label col-md-2">Lớp hành chính</lable>
                        <div class="col-md-10">
                            <select class="form-control selectpicker" data-live-search="true" data-dropup-auto="false" name="magv" id="selectpick">
                                <option value="0"></option>
                                @foreach (var item in lopHC)
                                {
                                    if (Model.malophc == item.malophc)
                                    {
                                        <option selected value="@item.malophc">@item.tenlophc - Mã lớp : @item.malophc</option>
                                    }
                                    else
                                    {
                                        <option value="@item.malophc">@item.tenlophc - Mã lớp : @item.malophc</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.khoa, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <select class="form-control" name="khoa">
                                <option>Chọn khoa</option>
                                @if (db.LopHCs.Find(Model.malophc).khoa == "Công nghệ thông tin")
                                {
                                    <option selected value="Công nghệ thông tin">Công nghệ thông tin</option>
                                }
                                else
                                {
                                    <option value="Công nghệ thông tin">Công nghệ thông tin</option>
                                }

                                @if (Model.khoa == "Du lịch")
                                {
                                    <option selected value="Du lịch">Du lịch</option>
                                }
                                else
                                {
                                    <option value="Du lịch">Du lịch</option>
                                }

                                @if (Model.khoa == "Ngoại ngữ")
                                {
                                    <option selected value="Ngoại ngữ">Ngoại ngữ</option>
                                }
                                else
                                {
                                    <option value="Ngoại ngữ">Ngoại ngữ</option>
                                }

                            </select>
                        </div>
                    </div>

                    <div class="form-group mx-2">
                        <div class="col-md-offset-2 ">
                            <input type="submit" value="Lưu" class="btn btn-primary" />
                            <a class="btn btn-danger" href="##" onClick="history.go(-1); return false;">Hủy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}