@model IEnumerable<QLDD_MVC.Models.LopTC>
@using QLDD_MVC.Models;
@{DataContextDB db = new DataContextDB(); }

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/GV/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-10">
                    <h4 class="m-0 font-weight-bold text-primary">Danh sách lớp tín chỉ của bạn</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive mt-3">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <th>
                        Mã lớp tín chỉ
                    </th>
                    <th>
                        Tên học phần
                    </th>
                    <th>
                        Tên lớp tín chỉ
                    </th>
                    <th>
                        Giáo viên tín chỉ
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Số lượng sinh viên
                    </th>
                    <th>
                        Thao tác
                    </th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.maloptc">
                                <td>@item.maloptc</td>
                                <td>
                                    @if (db.Hocphans.Find(item.mahp) != null)
                                    {
                                        @db.Hocphans.Find(item.mahp).tenhp;
                                    }
                                    else
                                    {
                                        <text>Mã Hp không tồn tại</text>
                                    }
                                </td>
                                <td>@item.tenltc</td>
                                <td>
                                    @if (db.giangviens.Find(item.magv) != null)
                                    {
                                        @db.giangviens.Find(item.magv).hoten;
                                    }
                                </td>

                                <td>
                                    @if (item.trangthai == true)
                                    {
                                        <text>Hoạt động</text>
                                    }
                                    else
                                    {
                                        <text>Không hoạt động</text>
                                    }
                                </td>
                                <td>@db.LopTC_SV.Where(x => x.maloptc == item.maloptc).Count()</td>
                                <td>
                                    @Html.ActionLink("Xem SV trong lớp", "Details", new { id = item.maloptc }, new { @class = "btn btn-primary" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>