@model QLDD_MVC.Models.LopTC

@{
    ViewBag.Title = "Chỉnh sửa thông tin lớp tín chỉ";
    Layout = "~/Areas/CBDT/Views/Shared/_Layout.cshtml";
}
@{var giangvien = ViewBag.GV as List<QLDD_MVC.Models.giangvien>;
    var hocphan = ViewBag.HP as List<QLDD_MVC.Models.Hocphan>;}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold text-primary">Chỉnh sửa thông tin lớp tín chỉ</h5>
            </div>
            <div class="card-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.maloptc)

                    <div class="form-group">
                        <lable class="control-label col-md-2">Học phần</lable>
                        <div class="col-md-10">
                            <select class="form-control selectpicker" data-live-search="true" data-dropup-auto="false" name="mahp" id="selectpick">
                                <option value="0"></option>
                                @foreach (var item in hocphan)
                                {
                                    if (Model.mahp == item.mahp)
                                    {
                                        <option selected value="@item.mahp">@item.tenhp - Mã học phần : @item.mahp</option>
                                    }
                                    else
                                    {
                                        <option value="@item.mahp">@item.tenhp - Mã học phần : @item.mahp</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <lable class="control-label col-md-2">Giảng viên</lable>
                        <div class="col-md-10">
                            <select class="form-control selectpicker" data-live-search="true" data-dropup-auto="false" name="magv" id="selectpick">
                                <option value="0"></option>
                                @foreach (var item in giangvien)
                                {
                                    if (Model.magv == item.magv)
                                    {
                                        <option selected value="@item.magv">@item.hoten - Mã giảng viên : @item.magv</option>
                                    }
                                    else
                                    {
                                        <option value="@item.magv">@item.hoten - Mã giảng viên : @item.magv</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.sttlop, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.sttlop, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.sttlop, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.trangthai, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @if (Model.trangthai)
                            {
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio1" name="trangthai" value="True" checked>Hoạt động
                                    <label class="form-check-label" for="radio1"></label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio2" name="trangthai" value="False">Không hoạt động
                                    <label class="form-check-label" for="radio2"></label>
                                </div>
                            }
                            else
                            {
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio1" name="trangthai" value="True">Hoạt động
                                    <label class="form-check-label" for="radio1"></label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" class="form-check-input" id="radio2" name="trangthai" value="False" checked>Không hoạt động
                                    <label class="form-check-label" for="radio2"></label>
                                </div>
                            }
                            @Html.ValidationMessageFor(model => model.trangthai, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group mx-2">
                        <div class="col-md-offset-2 ">
                            <input type="submit" value="Lưu" class="btn btn-primary" />
                            <a class="btn btn-danger" href="##" onClick="history.go(-1); return false;">Hủy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        $('#selectpick').selectpicker({
            dropupAuto: false
        });
    </script>
}