@model IEnumerable<QLDD_MVC.Models.Hocphan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CBDT/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-10">
                    <h4 class="m-0 font-weight-bold text-primary">Danh sách học phần</h4>
                </div>
                <div class="float-end ">
                    @Html.ActionLink("Thêm học phần", "Create", null, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive mt-3">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <th>
                        Mã học phần
                    </th>
                    <th>
                        Tên học phần
                    </th>
                    <th>
                        Số tín chỉ
                    </th>
                    <th>
                        Thao tác
                    </th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.mahp">

                                <td>@item.mahp</td>
                                <td>@item.tenhp</td>
                                <td>@item.sotc</td>
                                <td>
                                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.mahp.TrimEnd(' ') }, new { @class = "btn btn-warning" })
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.mahp.TrimEnd(' ') }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
