@model IEnumerable<QLDD_MVC.Models.DSSVxChitietdd>
@using QLDD_MVC.Models;
@{DataContextDB db = new DataContextDB(); }
@{int? maloptc = @ViewBag.maloptc; }
@{List<int> dsmadd = db.diemdanhs.Where(x => x.maloptc == maloptc).Select(x => x.madd).ToList();}

@{
    ViewBag.Title = "GetdiemdanhByDate";
    Layout = "~/Areas/CBDT/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-9">
                    <h4 class="m-0 font-weight-bold text-primary">Thông tin điểm danh của lớp : @ViewBag.tentc</h4>
                    <h4 class="m-0 font-weight-bold text-primary">Ngày : @ViewBag.ngaydd</h4>
                </div>
                <div class="col-3">
                    <a class="btn btn-danger float-right" href="##" onClick="history.go(-1); return false;">Quay lại</a>
                    <div class="dropdown show px-1 float-right">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Thông tin điểm danh theo ngày
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            @{
                                if (dsmadd.Count() == 0)
                                {
                                    <h6 class="px-2">Lớp chưa có hoạt động điểm danh</h6>
                                }
                                else
                                {
                                    foreach (int madd in dsmadd)
                                    {
                                        @Html.ActionLink(@db.diemdanhs.Find(madd).ngaydd.ToString("yyyy-MM-dd"), "GetdiemdanhByDate", "diemdanhs", new { maloptc = maloptc, date = @db.diemdanhs.Find(madd).ngaydd }, new { @class = "btn btn-outline-secondary" })
                                    }
                                }
                            }
                        </div>
                    </div>

                </div>

                <!--<div>-->
                    @*@Html.ActionLink("Quay lại", "Index_LopTC", "Sinhviens", new { id = ViewBag.maloptc, root = "DsLopTCofGV" }, new { @class = "btn btn-danger" })*@
                <!--</div>-->

            </div>

        </div>
        <div class="card-body">

            <div class="table-responsive mt-3">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <th>
                        Họ và tên
                    </th>
                    <th>
                        Giới tính
                    </th>
                    <th>
                        Tên lớp hành chính
                    </th>
                    <th>
                        Khoa
                    </th>
                    <th>
                        Thời gian điểm danh
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.masv">
                                <td>@item.hoten</td>
                                <td>@item.gioitinh</td>
                                <td>@item.tenlophc</td>
                                <td>@item.khoa</td>
                                <td>@item.thoigiandd</td>
                                <td>
                                    @if (item.trangthai == true)
                                    {
                                        <text>Có mặt</text>
                                    }
                                    else
                                    {
                                        <text>Vắng</text>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
