@model IEnumerable<QLDD_MVC.Models.LopTC>

@using QLDD_MVC.Models;
@{DataContextDB db = new DataContextDB(); }
@{
    ViewBag.Title = "Index_LopHC";
    Layout = "~/Areas/CBDT/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-11">
                    <h4 class="m-0 font-weight-bold text-primary">Thông tin điểm danh của sinh viên @ViewBag.hoten</h4>
                </div>
                <div class="col-1">
                    @*@if (ViewBag.root == "DsAllSV")
                        {
                            @Html.ActionLink("Quay lại", "DsAllSinhVien", "Sinhviens", new { }, new { @class = "btn btn-danger" })
                        }
                        else if (ViewBag.root == "DsSVLopHC")
                        {
                            @Html.ActionLink("Quay lại", "Index", "Sinhviens", new { id = ViewBag.malophc, root = "DsLopHC" }, new { @class = "btn btn-danger" })
                        }*@
                    <a class="btn btn-danger float-right" href="##" onClick="history.go(-1); return false;">Quay lại</a>

                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive mt-3">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <th>
                        Họ và tên
                    </th>
                    <th>
                        Giới tính
                    </th>
                    <th>
                        Lớp tín chỉ
                    </th>
                    <th>
                        Tên học phần
                    </th>
                    <th>
                        Số buổi có mặt
                    </th>
                    <th>
                        Số buổi vắng
                    </th>
                    <th>
                        Thao tác
                    </th>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            string masv = ViewBag.masv;
                            <tr id="row_@item.maloptc">
                                <td>@ViewBag.hoten</td>
                                <td>
                                    @ViewBag.gioitinh
                                    @*@if (ViewBag.gioitinh == "Nam")
                                        {
                                            <text>Nam</text>
                                        }
                                        else
                                        {
                                            <text>Nữ</text>
                                        }*@
                                </td>
                                <td>@db.LopTCs.Find(item.maloptc).tenltc</td>
                                <td>
                                    @if (db.Hocphans.Find(db.LopTCs.Find(item.maloptc).mahp) != null)
                                    {
                                        @db.Hocphans.Find(db.LopTCs.Find(item.maloptc).mahp).tenhp;
                                    }
                                    else
                                    {
                                        <text>Mã Hp không tồn tại</text>
                                    }
                                </td>
                                <td>
                                    @{List<int> dsmadd = db.diemdanhs.Where(x => x.maloptc == item.maloptc).Select(x => x.madd).ToList();
                                        int sobuoidd = 0; int sobuoivang = 0;
                                        foreach (int madd in dsmadd)
                                        {
                                            if (db.chitietdds.FirstOrDefault(x => x.madd == madd && x.masv.Equals(masv)).trangthai == true)
                                            {
                                                sobuoidd++;
                                            }
                                            else
                                            {
                                                sobuoivang++;
                                            }
                                        }
                                    }
                                    @sobuoidd
                                </td>
                                <td>@sobuoivang</td>
                                <td>
                                    @Html.ActionLink("Xem thông tin điểm danh", "DDInfoOfSV_LopTC", new { maloptc = item.maloptc, masv = masv }, new { @class = "btn btn-success" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
